body { 
  font-family: 'Bodoni MT', serif;
  font-size: 22px;
}
h1, h2, h3 {
  font-family: 'Baskerville';
  font-weight: normal;
  font-style: italic;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }

